.App {
  width: 100vw;
  height: 100vh;
  background-color: #f2f2f2;
}

* { margin: 0; }

.content {
  display: flex;
  height: 100vh;
}

.sidebarContainer {
  width: 250px;
}

.routerContainer {
  width: calc(100vw - 250px);
}